---
import "../styles/global.css";

interface Props {
  title?: string;
  description?: string;
}

const {
  title = "Marco Sintético",
  description = "Ecosistema visual para articular la apropiación de la productividad social.",
} = Astro.props as Props;
---

<!doctype html>
<html lang="es" class="light">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="icon" href="/favicon.ico" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <meta name="description" content={description} />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&family=Manrope:wght@700;800&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:wght,FILL@100..700,0..1&display=swap"
    />
  </head>
  <body class="bg-background font-body text-on-background min-h-screen">
    <slot />
  </body>
</html>
